@media (max-width: 1600px){
    
    .cfo{
        &__info{
            
            transform: none;
            
        }
        &__descr{
            width: 575px;
        }
        &__img{
            width: 47%;
        }
    }
}
@media (max-width: 1400px){
    .container{
        max-width: 1140px;
    }
    .advantages {
        &__item{
            width: 350px;
        }
        
        
    }
    
}
@media (max-width: 1200px){
    .container{
        max-width: 960px;
    }
    .button{
        &:hover{
            background: $main-color;
        }
        &_advantage{
            
            &:hover{
                background: #FF7BAB;
            }
        }
        &_left{
            &:hover{
                background: transparent;
            }
        }
    }
    .promo{
        &__info{
            margin-top: 290px;
        }
    }
    .about{
        &__descr{
            font-size: 23px;
        }
    }
    .advantages {
        &__item{
            width: 300px;
        }
        
        
    }
    .cfo{
        
        &__descr{
            width: 900px;
        }
        &__img{
            width: 100%;
        }
    }
}

@media (max-width: 992px){
    .container{
        max-width: 720px;
    }

    .header{
        &__links{
            justify-content: space-evenly;
        }
    }
    .advantages {
        min-height: auto;
        padding: 70px 0;
        &__item{
            width: 230px;
        }

        &__item-title {
            
            font-size: 20px;
        }
        &__descr{
            font-size: 15px;
        }
    }
    .cfo{
        min-height: auto;
        
        &__descr{
            width: 732px;
        }
        &__title{
            text-align: center;
        }

        
    }
    .promo{
        min-height: 950px;
    }
    


    
}

@media (max-width: 768px){
    .container{
        max-width: 540px;
    }
    .header {
        
        justify-content: space-between;
       
        align-items: center;
        &__links{
            position: fixed;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100vh;
            padding: 20px 15px;
            flex-direction: column;
            justify-content: center;
            
            
            
            background-color: $section-color;
            z-index: 2;
            transition: 0.6s all;
            &_active{
                left: 0;
            }
        }
        
        &__link{
            margin-top: 50px;
            width: 100%;
            font-size: 20px;
            text-align: center;
        }
        &__logo{
            transform: translateY(10%);
            width: 200px;
        }
    }
    .hamburger{
        display: block;
        transform: translateY(-50%);
        width: 30px;
        height: 12px;
        
        span{
            display: block;
            height: 3px;
            width: 100%;
            background-color: #fff;
            margin-bottom: 7px;
            transition: 0.5s all;
            &:nth-last-child(1){
                margin-bottom: 0;
            }
        }
        &_active{
            span{
                margin-bottom: -3px;
                &:nth-child(1){
                    transform: translateY(3px) rotate(-45deg);
                }
                &:nth-child(2){
                    display: none;
                }
                &:nth-child(3){
                    transform: translateY(3px) rotate(45deg);
                }
            }
        }
    }
    .promo{
        min-height: 830px;
        &__info{
            margin-top: 180px;
        }
        &__title{
            font-size: 35px;
        }
        &__subtitle{
            font-size: 35px;
        }
    }
    .button{
        font-size: 17px;
        width: 280px;
        &_left{
            margin: 0 auto;
            width: 240px;
            margin-top: 40px;
        }
        
    }
    .about{
        
        &__wrapper{
            width: 100%;
        }
        &__descr{
            text-align: center;
            font-size: 20px;
        }
        &__img{
            display: none;
        }
    }
    .advantages{
        padding: 70px 0;
        &__wrapper{
            flex-direction: column;
            align-items: center;
            
            
        }
        &__item{
            width: 410px;
            margin-top: 60px;
            &:nth-last-child(3){
                margin: 0;
            }
                       
        }
        &
        &__item-title{
            
            font-size: 24px;
            
        }
        &__descr{
            
            font-size: 16px;
            
        }
    }
    .cfo{
        min-height: 650px;
        padding: 70px 0;
        &__descr{
            width: 540px;
            
        
        }
    }

    

}

@media (max-width: 576px){
    .container{
        max-width: 100%;
        padding: 0 10px;
    }
    .header{
        &__logo{
            
            width: 140px;
        }
        &__link{
            font-size: 14px;
        }
      
    }
    .promo{
        min-height: 700px;
        &__info{
            margin-top: 140px;
        }
        &__title{
            font-size: 20px;
            line-height: 30px;
        }
        &__subtitle{
            font-size: 20px;
            
        }
        
    }

    .button{
        margin-top: 60px;
        font-size: 14px;
        width: 200px;
        height: 50px;
        &_left{
                
            margin: 0 auto;
            
            margin-top: 40px;
        }
        
    }
    .about{
        padding: 70px 0;
        &__descr{
            font-size: 15px;
        }
    }
    .advantages{
        &__item{
            width: 250px;
        }
    }
    .cfo{
        min-height: auto;
        &__title{
            font-size: 20px;
        }
        &__descr{
            
            line-height: 30px;
            width: 100%;
        }
    }
    .footer{
        &__info{
            width: 220px;
            line-height: 30px;
        }
    }
}