.about{
    position: relative;
    min-height: 433px;
    padding: 87px 0;
    background-color: $section-color;
    

    &__img{
        height: 100%;
        position: absolute;
        
        right: 0;
        bottom: 0;
        
    }
    &__wrapper{
        display: flex;
        width: 644px;
        
        flex-direction: column;
        justify-content: flex-start;
            

    }
    &__descr{
        font-style: normal;
        font-weight: 700;
        font-size: 27px;
        line-height: 48px;      
        text-transform: uppercase;      
        color: #FFFFFF;
    }
}