.advantages{
    min-height: 720px;
    padding: 140px 0;

    &__title{
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        text-align: center;
        letter-spacing: 0.12em;
        text-transform: uppercase; 
        color: #0A233E;
    }
    &__wrapper{
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        
    }
    &__item-info{
        padding: 15px 15px;
    }
    &__item{
        
        
        position: relative;

        width: 410px;
        min-height: 217px;
        text-align: center;
    
        background: #FF7BAB;
        &:hover{
            img{
                clip-path: circle(0.0% at 0 0);
            }
            
            
        }
        &_center{
            
            &:hover{
                img{
                    clip-path: circle(0.0% at 50% 0);
                }
                
                
            }
        }
        &_right{
            
            &:hover{
                img{
                    clip-path: circle(0.1% at 100% 0);
                }
                
                
            }
        }
        
        
        
    }
    &__img{
        position: absolute;
        top: 0;
        left: 0;
    
        width: 100%;
        height: 100%;
    
        transition: 1s;
    
        
        object-fit: cover;
        clip-path: circle(140.9% at 0 0);
        &_center{
            clip-path: circle(111.5% at 50% 0);
            
        }
        &_right{
            clip-path: circle(141.3% at 100% 0);
            
        }
        
        
        
    }
    
    &__item-title{
        margin-top: 50px;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 24px;
        color: #0A233E;
    }
    &__descr{
        margin-top: 20px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;            
        color: #0A233E;
    }
}