.button{
    display: block;
    width: 344px;
    height: 66px;
    background: $main-color;
    border-radius: 60px;
    border: none;
    margin: 0 auto;
    margin-top: 93px;
    
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase; 
    color: #FFFFFF;
}