.button{
    display: block;
    width: 344px;
    height: 66px;
    background: $main-color;
    border-radius: 60px;
    border: none;
    margin: 0 auto;
    margin-top: 93px;
    
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase; 
    color: #FFFFFF;
    &:hover{
        background: #FF7BAB;
    }
    &_left{
        margin: 0;
        margin-top: 58px;
        width: 209px;
        height: 57px;
        border: 1px solid $main-color; 
        background: transparent;     
        

    }
    &_advantage{
        margin-top: 80px;
        width: 344px;
        height: 66px;       
        background: #FF7BAB;
        border-radius: 60px;
        &:hover{
            background: $main-color;
        }

        
        
        
        
    }
}