.cfo{
    position: relative;
    min-height: 950px;
    padding: 119px 0;
    background-color: $section-color;

    &__img{
        
        position: absolute;
        height: 100%;
        right: 0;
        bottom: 0;
        

        
    }
    &__info{
        transform: translateX(-115px);
    }

    &__title{
        
        font-style: normal;
        font-weight: 700;
        font-size: 24px;                          
        color: #E1286F;
        
    }

    
    &__descr{
        
        width: 732px;
        
        margin-top: 40px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 35px;              
        color: #FFFFFF;
        
        
    }
}