.footer{
    min-height: 125px;
    padding: 30px 0;
    background: $main-color;
    &__info{
        margin: 0 auto;
        width: 400px;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;       
        text-align: center;      
        color: #FFFFFF;
    }
    &__links{
        margin-bottom: 30px;
        a{
            margin: 0 5px;
            text-decoration: none;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            text-align: center;  
            color: #FFFFFF;
            &:hover{
                text-decoration: underline;
                color: #fff;
            }
        }
    }
}