.header{
    position: relative;
    display: flex;
    justify-content: space-between;
    &__logo{
        display: block;
        width: 235px;
        img{
            width: 100%;
        }
    }
    &__links{
        width: 412px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        

    }
    &__link{
        color: #fff;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
            color: #FF7BAB;
        }
        
    }
    

}