.promo{
    min-height: 1080px;
    padding-top: 40px;
    background: url('../img/main_bg.jpg') center center/cover no-repeat ;
    &__info{
        margin-top: 370px;
        
    }
    &__title{
            
        font-style: normal;
        font-weight: 700;
        font-size: 45px;
        line-height: 66px;          
        text-align: center;
        text-transform: uppercase;        
        color: #FFFFFF;
        

    }
    &__subtitle{
        font-style: normal;
        font-weight: 700;
        font-size: 45px;
        line-height: 66px;          
        text-align: center;
        text-transform: uppercase;        
        color: #FFFFFF;
    }
}

